<app-menu></app-menu>

<div class="conatiner d-flex justify-content-center">
    <div class="card">
        <!-- Para las tabs -->
        <div class="card-header">
            <h3>Introduce tu nueva contraseña</h3>
        </div>

        <!-- Para el formulario de Login -->
        <div class="card-body">

            <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
                <!-- Para la contrasena -->
                <div class="form-group  text-center">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" required>
                </div>
                <!-- Para repetir contrasena -->
                <div class="form-group  text-center">
                    <label for="confirmPassword">Confirmar contraseña</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        [(ngModel)]="confirmPassword" required>
                </div>

                <!-- Para los botones -->
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" type="submit">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Cambiar contraseña
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>