<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Productos App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              <i class="fa-solid fa-house"></i> Inicio
            </a>
          </li>

          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="/lista">
              <i class="fa-solid fa-list"></i> Lista
            </a>
          </li>
  
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/nuevo"> 
              <i class="fa-solid fa-plus"></i> Nuevo Producto
            </a>
          </li> -->

          <!-- Para cerrar sesion e iniciar sesion -->

          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!isLogged">
                <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogged" (click)="onLogOut()"> 
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
            </a>
          </li>
 

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
